[package]
name = "pgcache"
version = "0.1.0"
edition = "2024"

[[bin]]
name = "pgcache"
path = "src/main.rs"

[lib]
name = "pgcache_lib"
path = "src/lib.rs"
doctest = false

[lints.clippy]
indexing_slicing = "warn"
fallible_impl_from = "warn"
wildcard_enum_match_arm = "warn"
unneeded_field_pattern = "warn"
fn_params_excessive_bools = "deny"
# must_use_candidate = "deny"

[profile.profiling]
inherits = "release"
debug = true

[features]
hotpath = ["dep:hotpath", "hotpath/hotpath"]
hotpath-alloc-bytes-total = ["hotpath/hotpath-alloc-bytes-total"]
hotpath-alloc-count-total= ["hotpath/hotpath-alloc-count-total"]
hotpath-off = ["hotpath/hotpath-off"]

[dependencies]
tokio = { version = "1.48.0", features = ["full"] }
tokio-util = "0.7.16"
tokio-stream = "0.1.17"

# tokio-postgres = { path = "../rust-postgres/tokio-postgres", default-features = false }
# postgres-protocol = { path = "../rust-postgres/postgres-protocol" }
# postgres-replication = { path = "../rust-postgres/postgres-replication", default-features = false }
# postgres-types = { path = "../rust-postgres/postgres-types" }
tokio-postgres = { git = "https://github.com/tempest98/rust-postgres", default-features = false, branch = "compat" }
postgres-protocol = {git = "https://github.com/tempest98/rust-postgres", branch = "compat" }
postgres-replication = { git = "https://github.com/tempest98/rust-postgres", default-features = false, branch = "compat" }
postgres-types = { git = "https://github.com/tempest98/rust-postgres", branch = "compat" }
pgwire = { git = "https://github.com/tempest98/pgwire", features = [
    "client-api",
    "server-api-ring",
] }
pg_query = "6.1.1"

serde = { version = "1.0.228", features = ["derive"] }
tracing = "0.1.41"
tracing-subscriber = "0.3.20"
nu-ansi-term = "0.50.3"
phf = { version = "0.13.1", features = ["macros"] }
error_set = "0.9.0"
lexopt = "0.3.1"
async-stream = "0.3.6"
iddqd = "0.3.14"
strum = "0.27.2"
strum_macros = "0.27.2"
toml = "0.9.8"
ordered-float = "5.1.0"
hotpath = { version = "0.4.1", optional = true }
signal-hook = { version = "0.3.18", features = ["iterator"] }
nix = { version = "0.30.1", features = ["fs", "signal"] }

[dev-dependencies]
pgtemp = "0.6.0"
criterion = { version = "0.7", features = ["html_reports"] }
regex-lite = "0.1.8"

[[bench]]
name = "ast_conversion"
harness = false

[[bench]]
name = "query_parsing"
harness = false
